@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    background-color: #F5F5F5 !important;
}
/* estilos de las anclas*/
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black
}

/*empieza estilos header y nav */
/* ----------------
   Las siguientes lineas estan comentadas
   porque decidí agregar el estilo de bootstrap
   y modificarlo a mi gusto
   ---------------- */
/*
.cabecera{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFEB3B;
}

.cabecera__containerLogo{
    display: flex;
    flex-wrap: wrap;
}
.cabecera__containerLogo img{
    height: 70px;
    width: 70px;
}

.cabecera__nav{
    display: flex;
    font-size: 20px;
    margin-right: 200px;
}

.cabecera__nav__lista{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.cabecera__nav__lista li{
    margin: 0px 10px;
}
.cabecera__nav__lista li a{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
*/
.colorNav{
    background-color: #FFEB3B !important;
}
.flexible{
    width: 100%;
    justify-content: flex-end;
}
.flexible .nav-item .nav-link:hover{
    color: #000000;
}
.contenedorLogo{
    display: flex;
    flex-wrap: wrap;
}
.contenedorLogo img{
    height: 70px;
    width: 70px;
}
.colorMain{
    background-color: #F5F5F5;
}

/*termina estilos header y nav*/
/*estilo del separador de contenido */
.divisorContenido{
    background-color: #BDBDBD !important;
}

/* estilo del carrousel */
.contenedorCarousel{
    display: flex;
    flex-wrap: nowrap;
}
.carousel-item{
    height: 80vh;
}
.imgCarousel{
    height: 800px;
    width: 800px;
    object-fit: cover;

    margin: 0 50px;
    flex: 1 0 auto;
}

.section__contenedorTittle_1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section__contenedorTittle_1 h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}

.section__contenedorImagenesPrincipales{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__containerCarrousel_img .img{
   display: inline-block;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   margin: 10px;
   width: 900px;
    height: 600px;
}

/* estilo de section album mas escuchado */
.section__contenidoAlbum{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F5F5F5;
    position: relative;
}
.section__container__infoAlbum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 40px 200px;
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: #616161;
    border-radius: 30px;

    /* generé la sombra desde una pagina que nos brindó la profesora */
    box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.77);
    -webkit-box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.77);
    -moz-box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.77);
}
.section__containerPortadaAlbum{
    text-align: center;
}
.tituloAlbum{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}
.parrafoAlbum{
    text-align: left;
    inline-size: 1250px;
    overflow-wrap: break-word;
    margin: 0px 50px;
    margin-bottom: 100px;
    color: #F5F5F5;
}

.parrafoAlbum-fecha{
    display: flex;
    justify-content: center;
    inline-size: 1250px;
    overflow-wrap: break-word;
    margin: 0px 50px;
    margin-bottom: 100px;
}
.strong{
    color: #000000;
    font-weight: bold;
}
.italic{
    color: #212121;
    font-style: italic;
}
.container__imgAlbum{
    vertical-align: middle;
}
.container__imgAlbum .imgAlbum{
    width: 400px;
    height: 250px;
}

/* SECTION VIDEOS EMBED */

.section__embedVid{
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section__embedVid-tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
iframe{
    width: 600px;
    height: 400px;
    margin: 0px 50px;
    padding-top: 10px;
}

.section__containerEmbed{
    display: flex;
}

.section__embedVid__verMas{
    margin-top: 100px;
    font-size: 20px;
}
.section__embedVid__verMas a p{
    text-decoration: underline;
}
/* ---- ESTILOS ALBUMES.HTML ----*/
.section__contenidoAlbumes{
    flex-direction: column;
    background-color: #F5F5F5;
}
.containerPadre{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 100px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . .";

    margin: 20px;
    padding: 20px;
}
.container__carta{
    display: flex;
}
.containerAlbum{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    margin: 20px;

    height: 600px;
    width: 500px;
    background-color: #616161;
    border-radius: 30px;
    box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.45);
}

.container__imgAlbumes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tituloAlbumes{
    text-align: center;
}
.fechaAlbumes{
    text-align: center;
    margin-bottom: 5px;
    text-decoration: underline;
}
.container__buttons{
    display: flex;
    justify-content: center;
}
.container__buttons button{
    margin: 10px;
}
.imagenAlbum{
    height: 400px;
    width: 400px;
}

/* ---- TERMIA ESTILOS ALBUMES.HTML ----*/

/* ---- INICIA ESTILOS NOSOTROS.HTML */
.section__origenSoda{
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    height: 100%;
}
.contenedor__titulo-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -1px 5px 7px rgba(0,0,0,0.40);
    margin: 10px;
}
.contenedor__containers-infoSodaStereo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenedor__info-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-decoration: underline;
}
.contenedor__origenSodaStereo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px 200px;
    border: 5px solid #6e6e6e;
    border-radius: 10px;
    background-color: rgb(207, 210, 210);
}
.contenedor__info-texto{
    margin: 30px;
}
.container__padre-fotos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}
.container__img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: space-evenly;
    margin: 10px;
    margin-top: -20px;
}
.container__OrigenSoda_Foto{
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.img__origenSoda{
    margin-top: 30px;
    height: 300px;
    width: 400px;
}
.img__Cerati{
    margin-top: 30px;
    height: 400px;
    width: 400px;
}
.img__Cerati-mid{
    height: 400px;
    width: 600px;
}
.img__Cerati-der{
    height: 400px;
    widows: 400px;
}


.container__contenidoSoda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: #616161;
    border-radius: 30px;
    margin: 125px 100px;
    box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.77);
    -webkit-box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.77);
    -moz-box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.77);
}
.containerInfoOrigen{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -10px;
    text-decoration: underline;
}
/* ---- TERMINA ESTILOS NOSOTROS.HTML */

/* ---- ARRANCA ESTILOS TIMELINE.HTML */
.section__timeline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.timelineTittle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -1px 5px 7px rgba(0,0,0,0.40);
}
.containerTimeline_contenido{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerTimeline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenedorInfoGiras{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 40px 200px;
    border: 5px solid #6e6e6e;
    border-radius: 10px;
    background-color: rgb(207, 210, 210);
}
.containerInfoTimele{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerGiras-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.contenedorTexto{
    margin: 30px;
}


.contenedorTitulo-cartas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-group{
    width: 80%;
    margin: 100px auto 0px auto;
    text-align: center;
}

.card{
    align-items: center;
}

.card-img-top{
    width:80%;
    object-fit: cover;
}
.imgCard{
    height: 300px;
    width: 300px;
}
/* ---- TERMINA ESTILOS TIMELINE.HTML */

/* ---- ARRANCA ESTILOS UNITE.HTML ---- */
.section__form{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenedor__titulo-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.containerForm{
    width: 500px;
    background:rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 15px;
}
.titulo-form{
    text-align: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-input .form-textArea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}
textarea{
    min-height: 100px !important;
    max-height: 200px !important;
    max-width: 100% !important;
}

/*--- TERMINA ESTILOS UNITE.HTML ---- */

/* estilo del footer */
.footer{
    height: 100%;
    padding: 1em 0;
    background-color: #616161;
}
.footer__containerRedes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.footer__linkredes{
    margin: 0px 10px;
}
.img__redes{
    height: 34px;
}
.img__redes:hover{
    height: 40px;
}
.footer__containerCopy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__containerCopy p{
    color: #f5f5f5c8;
}

@media screen and (min-width: 0px) and (max-width: 768px){
    .container__contenidoSoda{
        display: flex;
        flex-direction: column;
    }
    .contenedorInfoGiras{
        margin: 30px;
    }
    .containerTimeline_contenido p{
        text-align: justify;
    }
    .card-group{
        display: flex;
        flex-flow: column wrap;
    }
    .section__embedVid{
        vertical-align: top;
    }
    .contenedor__titulo-form{
        text-align: center;
    }
    .containerForm{
        width: 300px;
    }
    .footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__containerRedes{
        flex-direction: row;
    }
    .footer__linkredes{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .footer__containerCopy{
        margin-top: 10px;
        text-align: center;
        inline-size: 400px;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 768px){
    .carousel-item{
        height: initial;
    }
}