@charset "UTF-8";
/* VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 700; }

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  background-color: #F5F5F5 !important; }

/* estilos de las anclas*/
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black; }

.divisorContenido {
  background-color: #BDBDBD !important; }

.strong {
  color: #000000;
  font-weight: bold; }

.italic {
  color: #212121;
  font-style: italic; }

.colorNav {
  background-color: #FFEB3B !important; }
  .colorNav .flexible {
    width: 100%;
    justify-content: flex-end; }
    .colorNav .flexible .nav-item .nav-link {
      color: #495057; }
      .colorNav .flexible .nav-item .nav-link:hover {
        color: #000000; }

.contenedorLogo {
  display: flex;
  flex-wrap: wrap; }
  .contenedorLogo img {
    height: 70px;
    width: 70px; }

.colorMain {
  background-color: #F5F5F5; }
  .colorMain .section__contenedorTittle_1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .colorMain .section__contenedorTittle_1 .section__contenedorTittle_1 h1 {
      text-align: center;
      padding-top: 20px;
      margin-bottom: 10px; }
  .colorMain .contenedorCarousel {
    display: flex;
    flex-wrap: nowrap; }
    .colorMain .contenedorCarousel .carousel-item {
      height: 80vh; }
      .colorMain .contenedorCarousel .carousel-item .imgCarousel {
        height: 800px;
        width: 800px;
        object-fit: cover;
        margin: 0 50px;
        flex: 1 0 auto; }

/* estilo de section album mas escuchado */
.section__contenidoAlbum {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F5F5F5;
  position: relative; }
  .section__contenidoAlbum .section__container__infoAlbum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 200px;
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: #616161;
    border-radius: 30px;
    /* generé la sombra desde una pagina que nos brindó la profesora */
    box-shadow: -1px 2px 16px 11px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: -1px 2px 16px 11px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: -1px 2px 16px 11px rgba(0, 0, 0, 0.77); }
    .section__contenidoAlbum .section__container__infoAlbum .section__containerPortadaAlbum {
      text-align: center; }
      .section__contenidoAlbum .section__container__infoAlbum .section__containerPortadaAlbum .tituloAlbum {
        text-align: center;
        text-decoration: underline;
        margin-bottom: 30px; }
    .section__contenidoAlbum .section__container__infoAlbum .parrafoAlbum-fecha {
      display: flex;
      justify-content: center;
      inline-size: 1250px;
      overflow-wrap: break-word;
      margin: 0px 50px;
      margin-bottom: 100px; }
    .section__contenidoAlbum .section__container__infoAlbum .parrafoAlbum {
      text-align: left;
      inline-size: 1250px;
      overflow-wrap: break-word;
      margin: 0px 50px;
      margin-bottom: 120px;
      color: #F5F5F5; }
    .section__contenidoAlbum .section__container__infoAlbum .container__imgAlbum {
      display: flex;
      vertical-align: middle;
      margin-top: -150px; }
      .section__contenidoAlbum .section__container__infoAlbum .container__imgAlbum .imgAlbum {
        width: 400px;
        height: 250px; }

/* SECTION VIDEOS EMBED */
.section__embedVid {
  height: 100vh;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .section__embedVid .section__embedVid-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px; }
  .section__embedVid .section__containerEmbed {
    display: flex; }
    .section__embedVid .section__containerEmbed .section__embedVid__videos {
      display: flex; }
      .section__embedVid .section__containerEmbed .section__embedVid__videos iframe {
        width: 600px;
        height: 400px;
        margin: 0px 50px;
        padding-top: 10px; }
  .section__embedVid .section__embedVid__verMas {
    margin-top: 100px;
    font-size: 20px; }
    .section__embedVid .section__embedVid__verMas .section__embedVid__verMas a p {
      text-decoration: underline; }

.section__contenidoAlbumes {
  flex-direction: column;
  background-color: #F5F5F5; }
  .section__contenidoAlbumes .section__contenedorTittle_1 {
    text-align: center; }
  .section__contenidoAlbumes .containerPadre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 100px;
    grid-template-areas: ". . ." ". . ." ". . .";
    margin: 20px;
    padding: 20px; }
    .section__contenidoAlbumes .containerPadre .containerAlbum {
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-self: center;
      margin: 20px;
      height: 600px;
      width: 500px;
      background-color: #616161;
      border-radius: 30px;
      box-shadow: -1px 2px 16px 11px rgba(0, 0, 0, 0.45);
      -webkit-box-shadow: -1px 2px 16px 11px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: -1px 2px 16px 11px rgba(0, 0, 0, 0.45); }
      .section__contenidoAlbumes .containerPadre .containerAlbum .tituloAlbumes {
        text-align: center; }
      .section__contenidoAlbumes .containerPadre .containerAlbum .fechaAlbumes {
        text-align: center;
        margin-bottom: 5px;
        text-decoration: underline; }
    .section__contenidoAlbumes .containerPadre .container__imgAlbumes {
      display: flex;
      align-items: center;
      justify-content: center; }
      .section__contenidoAlbumes .containerPadre .container__imgAlbumes .imagenAlbum {
        height: 400px;
        width: 400px; }
    .section__contenidoAlbumes .containerPadre .container__buttons {
      display: flex;
      justify-content: center; }
      .section__contenidoAlbumes .containerPadre .container__buttons button {
        margin: 10px; }

.section__origenSoda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F5F5F5;
  height: 100%; }
  .section__origenSoda .contenedor__titulo-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -1px 5px 7px rgba(0, 0, 0, 0.4);
    margin: 10px; }
  .section__origenSoda .contenedor__containers-infoSodaStereo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .section__origenSoda .contenedor__containers-infoSodaStereo .contenedor__origenSodaStereo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 40px 200px;
      border: 5px solid #6e6e6e;
      border-radius: 10px;
      background-color: #cfd2d2; }
      .section__origenSoda .contenedor__containers-infoSodaStereo .contenedor__origenSodaStereo .contenedor__info-titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        text-decoration: underline; }
      .section__origenSoda .contenedor__containers-infoSodaStereo .contenedor__origenSodaStereo .contenedor__info-texto {
        margin: 30px; }
    .section__origenSoda .contenedor__containers-infoSodaStereo .container__padre-fotos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin: 20px; }
      .section__origenSoda .contenedor__containers-infoSodaStereo .container__padre-fotos .container__img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: space-around;
        margin: 10px;
        margin-top: -20px; }
        .section__origenSoda .contenedor__containers-infoSodaStereo .container__padre-fotos .container__img .img__origenSoda {
          margin-top: 30px;
          height: 300px;
          width: 400px; }
        .section__origenSoda .contenedor__containers-infoSodaStereo .container__padre-fotos .container__img .img__Cerati {
          margin-top: 30px;
          height: 400px;
          width: 400px; }
        .section__origenSoda .contenedor__containers-infoSodaStereo .container__padre-fotos .container__img .img__Cerati-mid {
          margin-top: 30px;
          height: 400px;
          width: 600px; }
        .section__origenSoda .contenedor__containers-infoSodaStereo .container__padre-fotos .container__img .img__Cerati-der {
          margin-top: 30px;
          height: 400px;
          width: 400px; }

/* ---- INICIA ESTILOS NOSOTROS.HTML 
.img__Cerati{
    margin-top: 30px;
    height: 400px;
    width: 400px;
}
.img__Cerati-mid{
    height: 400px;
    width: 600px;
}
.img__Cerati-der{
    height: 400px;
    widows: 400px;
}


.container__contenidoSoda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: $color-secundario;
    border-radius: 30px;
    margin: 125px 100px;
    box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.77);
    -webkit-box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.77);
    -moz-box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.77);
}
.containerInfoOrigen{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -10px;
    text-decoration: underline;
}
*/
.section__timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .section__timeline .timelineTittle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -1px 5px 7px rgba(0, 0, 0, 0.4); }
  .section__timeline .containerTimeline_contenido {
    display: flex;
    align-items: center;
    justify-content: center; }
  .section__timeline .containerTimeline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .section__timeline .containerTimeline .contenedorInfoGiras {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 40px 200px;
      border: 5px solid #6e6e6e;
      border-radius: 10px;
      background-color: #cfd2d2; }
      .section__timeline .containerTimeline .contenedorInfoGiras .containerGiras-titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px; }
      .section__timeline .containerTimeline .contenedorInfoGiras .contenedorTexto {
        margin: 30px; }

.section__integrantes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .section__integrantes .contenedorTitulo-cartas {
    display: flex;
    align-items: center;
    justify-content: center; }
  .section__integrantes .card-group {
    width: 80%;
    margin: 100px auto 0px auto;
    text-align: center; }
    .section__integrantes .card-group .card {
      align-items: center; }
      .section__integrantes .card-group .card .card-img-top {
        width: 80%;
        object-fit: cover; }
      .section__integrantes .card-group .card .imgCard {
        height: 300px;
        width: 300px; }

.section__form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .section__form .contenedor__titulo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px; }
  .section__form .containerForm {
    width: 500px;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 15px; }
    .section__form .containerForm .titulo-form {
      text-align: center;
      margin: 0px;
      font-size: 40px;
      margin-bottom: 20px; }
    .section__form .containerForm .form-input .form-textArea {
      width: 100%;
      margin-bottom: 20px;
      padding: 10px; }
    .section__form .containerForm textarea {
      min-height: 100px !important;
      max-height: 200px !important;
      max-width: 100% !important; }

.footer {
  height: 100%;
  padding: 1em 0;
  background-color: #212121; }
  .footer .footer__containerRedes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; }
    .footer .footer__containerRedes .footer__linkredes {
      margin: 0px 10px; }
      .footer .footer__containerRedes .footer__linkredes .img__redes {
        height: 34px; }
        .footer .footer__containerRedes .footer__linkredes .img__redes:hover {
          height: 40px; }
  .footer .footer__containerCopy {
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer .footer__containerCopy p {
      color: #f5f5f5c8; }

/*
.footer__containerCopy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__containerCopy p{
    color: #f5f5f5c8;
}*/
@media screen and (min-width: 0px) and (max-width: 768px) {
  .container__contenidoSoda {
    display: flex;
    flex-direction: column; }
  .contenedorInfoGiras {
    margin: 30px; }
  .containerTimeline_contenido p {
    text-align: justify; }
  .card-group {
    display: flex;
    flex-flow: column wrap; }
  .section__embedVid {
    vertical-align: top; }
  .contenedor__titulo-form {
    text-align: center; }
  .containerForm {
    width: 300px; }
  .footer {
    flex-direction: column;
    align-items: flex-start; }
  .footer__containerRedes {
    flex-direction: row; }
  .footer__linkredes {
    margin-right: 0;
    margin-bottom: 10px; }
  .footer__containerCopy {
    margin-top: 10px;
    text-align: center;
    inline-size: 400px;
    overflow-wrap: break-word; } }

@media screen and (max-width: 768px) {
  .carousel-item {
    height: initial; } }
