.section__contenidoAlbumes{
    flex-direction: column;
    background-color: $color-bg;
    .section__contenedorTittle_1{
        text-align: center;
        text-decoration: underline;
    }
    .containerPadre{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap: 10px;
        row-gap: 100px;
        grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
        margin: 20px;
        padding: 20px;
        .containerAlbum{
            display: flex;
            justify-content: center;
            flex-direction: column;
            justify-self: center;
            margin: 20px;
            height: 600px;
            width: 500px;
            background-color: $color-secundario;
            border-radius: 30px;
            box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.45);
            -webkit-box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.45);
            -moz-box-shadow: -1px 2px 16px 11px rgba(0,0,0,0.45);
            .tituloAlbumes{
                text-align: center;
            }
            .fechaAlbumes{
                text-align: center;
                margin-bottom: 5px;
                text-decoration: underline;
            }
        }
        .container__imgAlbumes{
            display: flex;
            align-items: center;
            justify-content: center;
            .imagenAlbum{
                height: 350px;
                width: 350px;
            }
        }
        .container__buttons{
            height: 90px;
            display: flex;
            justify-content: center;
            .button__spotify{
                margin: 20px 20px;
                font-size:18px;
                width:120px;
                height:50px;
                border-width:3px;
                color:#fff;
                border-color:#18ab29;
                font-weight:bold;
                border-top-left-radius:27px;
                border-top-right-radius:27px;
                border-bottom-left-radius:27px;
                border-bottom-right-radius:27px;
                text-shadow: 0px 0px 0px #2f6627;
                background:linear-gradient(#44c767, #5cbf2a);
                &:hover{
                    background: linear-gradient(#5cbf2a, #44c767);
                }
            }
            .button__youtube{
                @extend .button__spotify;
                box-shadow: 0px 0px 0px 3px #8a2a21;
                text-shadow: 0px 1px 0px #810e05;
                background:#c62d1f;
                &:hover{
                    background: #f24437;
                }
            }
        }
    }
}
