.colorNav{
    background-color: $color-nav !important;
    .flexible{
        width: 100%;
        justify-content: flex-end;
        .nav-item .nav-link{
            color: $color-nav-li;
            &:hover{
                color: $color-itemNav;
            }
        }
    }
}
.contenedorLogo{
    display: flex;
    flex-wrap: wrap;
    img{
        height: 70px;
        width: 70px;
    }
}
