.section__origenSoda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-bg;
    width: 99vw;
    .contenedor__titulo-inicial{
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: -1px 5px 7px rgba(0,0,0,0.40);
        width: 100vw;
        margin: 20px;
    }
    .contenedor__containers-infoSodaStereo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        .contenedor__infoSodaStereo{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .contenedor__origenSodaStereo{
            @extend .contenedor__infoSodaStereo;
            border: 5px solid $color-primario;
            border-radius: 10px;
            background-color: rgb(207, 210, 210);
            width: 80vw;
            .contenedor__info-titulo{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                text-decoration: underline;
            }
            .contenedor__info-texto{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 30px;
                .container__padre-fotos{
                    @extend .contenedor__info-texto;
                    flex-direction: row;
                    margin: 20px;
                    .container__img{
                        @extend .contenedor__info-texto;
                        flex-direction: space-around;
                        margin: 10px;
                        margin-top: -20px;
                        .img__origenSoda{
                            margin-top: 30px;
                            height: 300px;
                            width: 400px;
                        }
                        .img__Cerati{
                            margin-top: 30px;
                            height: 400px;
                            width: 400px;
                        }
                        .img__Cerati-mid{
                            margin-top: 30px;
                            height: 400px;
                            width: 600px;
                        }
                        .img__Cerati-der{
                            margin-top: 30px;
                            height: 400px;
                            width: 400px;
                        }
                    }
                }
            }
        }
    }
}