/* VARIABLES */
$color-itemNav: #000000;
$color-nav-li: #495057;
$color-nav: #FFEB3B;
$color-divisorCont: #BDBDBD;
$color-primario: #6e6e6e;
$color-secundario: #616161;
$color-bg: #F5F5F5;
$color-italic: #212121;
$color-strong: #000000;
$color-footer: #212121;
